@import "../../styles/global-imports";

.header {
  display: flex;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-around;

  padding: 10px 20px;
  height: 100px;

  position: fixed;
  z-index: 1000;
  left: 50%;
  transform: translate(-50%);

  background-color: $c-white;

  margin: 0 auto;
  max-width: 1248px;
  width: 100vw;

  @include onTablet {
    gap: 30px;
  }

  @include onMobile {
    height: 50px;
    gap: 146px;
  }

  &--menu {
    @include onTabletAndDesktop {
      display: none;
    }
  }
}
